<footer class="footer">
    <div class="container">
        Powerd by express
        &copy; Stas Raranetsky <a href="http://stas-raranetsky.com" target="_blank">stas-raranetsky.com</a>
    </div>
</footer>
