<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li><a href="/">Главная</a></li>
        <li><a href="#">Регистрация</a></li>
        <li><a href="#">Вход</a></li>
        <li><a href="/game">Играть</a></li>
      </ul>
    </div>
  </div>
</nav>
