<!DOCTYPE html>
<html>
<head>
    <title><%=blocks.title%></title>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>
    <header class="container">
        <%-partial('../partials/topNav')%>
    </header>
        <%-body -%>
    <footer>
        <%-partial('../partials/footer')%>
    </footer>
</body>
</html>
